@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    animation: fade 2s 2s 0ease-in;
}

body {
    height: 100%;
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-family: sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: salmon;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.logo h2 {
    color: rgb(26, 85, 161);
}


nav {
    position: relative;
    width: 100%;
    height: 100%;
}
.nav-lista {
    display: none;
    flex-direction: column;
    list-style: none;
  
}

.nav-lista li {
    padding: 5px;
}

.nav-lista li a:hover {
    color: rgb(9, 71, 73);
}

.nav-lista li a {
    text-decoration: none;
    color: black;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner{
    width: 100%;
    min-height: 350px;
    margin-top: 38px;
    background-image: url(../svg_img/029-drawkit-full-stack-man-colour.svg );
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.container-descridcao {
    position: static;
    height: 100%;
}

.container-descridcao h1 {
    max-width: 60%; 
    line-height: 2rem;
    font-size: 16pt;
    font-family: 'Bebas Neue', cursive,sans-serif;
  
}

.txt-M{
    color: rgb(4, 156, 203);
    font-size: larger;
}

.txt-s{
    color :rgb(4, 156, 203);
}
.container-descridcao p {
    max-width: 57%; 
    line-height: 0.8remrem;
    font-size: 10px;
    font-family: 'Bebas Neue', cursive;
  
}

.btn-saiba-mais {
    width: 60px;
    height: 30px;
    color: #fff;
    background-color: darkturquoise;
    line-height: 20 px;
    margin-left: 40px;
}

.btn-saiba-mais a {
    margin: o auto;
}


.quem-nos-somos {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
  padding: 20px 0px;
  
}
.__descricao{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px double rgb(241, 241, 241);
    box-shadow: 1px 1px 20px black;
    border-radius: 8px;
    padding: 5px;
    background-color: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(300);
}

.item-quem {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: darkgray;
    margin-bottom: 10px;
}

.__descricao h1 {
    color: #fff;
    margin-bottom: 10px;
}

.__descricao p {
    text-align: center;
}

.nosso-servicos {
    display: flex;
    justify-content: center;
    background-color: rgb(223, 23, 23);
    padding: 20px 0px;
}

.localizacao {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 145, 0);
    padding: 20px 0px;
}


@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer{
    width: 100%;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
}